<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>George Borunov</title>

 	<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

</head>
<body>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper indigo darken-2">
				<ul id="nav-mobile" class="hide-on-med-and-down">
					<li><a href="/about">Intro</a></li>
					<li><a href="/work">Work</a></li>
					<li><a href="/projects">Projects</a></li>
				</ul>
				<a href="/" class="brand-logo center test">George Borunov</a>
				<ul id="nav-mobile" class="hide-on-med-and-down right">
					<li><a href="/interests">Interests</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/social">Social</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<br /><br />